/*Scaffolding Css*/
*{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	padding: 1em 0.25em;
}

body{
	background-color: rgb(230, 230, 230);  
}

#app{
	width: 58em;
	margin: 0 auto;
	background: white;
	padding-bottom: 3em;
}

header{
	margin-top: 0;
	padding-top: 0;
	display: block;
}
/* Start your css below */

body{
	font-family: Sans-serif;
}

ul{
	list-style-type: none;
}

#list .description{
	display: inline;
	margin-left: 1em;
}

header{
	text-align: center;
}

#list, #item-add-form{
	width: 35em;
	margin: 2em auto;
}

#item-add-form #item-add-text{
	width: 28em;
}

#item-add-text {
	font-size: 16px;
	border: 1px solid #D5D5D5;
	padding: 0.5em 0.5em;
}

#add-button{
	background: rgb(93, 162, 6);
	color: white;
	font-size: 16px;
	padding: 0.5em 1.5em;
	border: none;
	border-radius: Ãƒâ€šÃ‚Â§px;
}

#list .item{
	border-bottom: 1px solid grey;
	padding: 0.5em 0.5em 0.7em;
}

#list .item:last-child{
	border-bottom: none;
}
